[submodule "glfw"]
	path = libraries/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "glad"]
	path = libraries/glad
	url = https://github.com/malatindez/glad.git
[submodule "glm"]
	path = libraries/glm
	url = https://github.com/malatindez/glm.git
	branch = 0.9.9.8
