[submodule "libraries/glfw"]
	path = libraries/glfw
	url = https://github.com/glfw/glfw.git
    branch = 3.3-stable
[submodule "libraries/glad"]
	path = libraries/glad
	url = https://github.com/malatindez/glad.git